@use "../admin-styles/mixin" as *;
@use "../variables" as *;


.auth-layout {
    min-height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
    background-color: var(--background);
    padding: 1rem;



    form {
        width: 100%;


        >.input-box {
            margin-top: 0.8rem;
            width: 100%;
            display: flex;
            flex-direction: column;

           

            >label {
                color: var(--foreground);
                font-size: 0.9rem;
            }

            // >input[type="date"] {
            //     color-scheme: dark;
            // }

            >input {
                background-color: inherit;
                color: var(--foreground);
                font-size: 1rem;
                padding: 0.9rem;
                display: inline-flex;
                width: 100%;
                margin-top: 0.2rem;
                border: 3px solid var(--input);
                border-radius: 10px;
                box-shadow: var(--shadow);

                &::placeholder {
                    color: var(--muted-foreground);
                }

                &:focus-visible {
                    border: 2px solid var(--primary);
                    outline: none;
                }
            }

        }

        .redirect-other--page {
            display: flex;
            column-gap: 5px;
            margin-top: 0.4rem;

            p,
            a {
                font-size: 0.8rem;
            }
        }

        .submit-btn {
            letter-spacing: 1px;
            width: 100%;
            margin-top: 2rem;
            margin-inline: 0;
        }

    }
}

.external-auth {
    height: 2rem;
    display: flex;
    column-gap: 10px;
    justify-content: center;
    cursor: pointer;

    svg {
        width: auto;
        height: 100%;
    }
}