@use "mixin";

.chart-container {
    background-color: var(--secondary);
    padding: 4rem;
    overflow-y: auto;

    >h1 {
        margin: 0 0 5rem 2rem;
    }

    >section {
        width: 80%;
        margin: 4rem auto;

        >div {
            max-width: 25rem;
            margin-inline: auto;
            margin-top: 6rem;
            margin-bottom: -1rem;
        }

        >h2 {
            margin: 2rem 0;
            text-align: center;
            @include mixin.heading(2px);
        }
    }
}