@use "mixin";

.dashboard-product--box {
    @include mixin.square(100%);
    background-color: var(--card);
    padding: 2rem;
    overflow: auto;
}



.shipping-info--card {
    >h1 {
        text-align: center;
        @include mixin.heading(2px);
    }

    >h5 {
        margin: 1.5rem 0 0 0.5rem;
        font-size: 1.1rem;
        font-weight: 600;
    }

    >p {
        margin: 0.5rem;
    }


}


.transaction-product--card {
    @include mixin.flex(row, unset, center, 1rem);

    >img {
        @include mixin.square(4rem);
        object-fit: cover;
        border-radius: 8px;
    }

    >span {
        margin-left: auto;
    }
}