@use "mixin";

.dashboard-product--box {
    @include mixin.square(100%);
    background-color: #fff;
    padding: 2rem;
    overflow: auto;
}

.create-product--btn {
    position: fixed;
    right: 2rem;
    top: 2rem;
    @include mixin.square(2.5rem);
    @include mixin.flex(row, center, center, 0);
    border-radius: 50%;
    background-color: rgba(30, 200, 20, 1);
    color: whitesmoke;
    transition: opacity 300ms;

    &:hover {
        opacity: 0.8;
    }


}


.management {
    @include mixin.flex(row, center, unset);
    padding: 4rem;

    >article {
        height: 85vh;
        padding: 2rem;
        width: 100%;
        max-width: 400px;
        background-color: whitesmoke;
        border-radius: 5px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.216);

        >form {
            @include mixin.flex(column, unset, center, 2rem);
            margin: auto;

            >h2 {
                text-decoration: uppercase;
                letter-spacing: 2px;
            }

            >div:has(img) {
                @include mixin.flex(row, center, center, unset);

                img {
                    @include mixin.square(6rem);
                    // object-fit: contain;
                    border-radius: 10px;
                }
            }

            #file-upload {
                @include mixin.flex(row, center, center, unset);
                cursor: pointer;
                background-color: rgba(128, 128, 128, 0.11);
                padding: 1rem 2rem;
                border-radius: 8px;
                border: 1px solid rgba(128, 128, 128, 0.342);
                transition: all 300ms;

                &:hover {
                    background-color: rgba(128, 128, 128, 0.8);
                    color: white;
                    border: 1px solid rgba(0, 0, 0, 0.233);
                }

                >input {
                    display: none;
                }
            }

            >div:not(#file-upload) {

                width: 100%;
                position: relative;
                margin-top: 0.5rem;

                >label {
                    position: absolute;
                    left: 0;
                    top: -1.6rem;
                }


                >input {
                    @include mixin.inputStyle(100%,
                        0.7rem,
                        unset,
                        1px solid rgba(13, 13, 13, 0.196));
                    border-radius: 5px;
                }
            }


            >button {
                @include mixin.btn(100%,
                    0.5rem 1rem,
                    1.1rem,
                    white,
                    rgb(5, 107, 244),
                    none,
                    8px,
                );

                &:hover {
                    @include mixin.btn(100%,
                        0.5rem 1rem,
                        1.1rem,
                        white,
                        rgba(5, 107, 244, 0.9),
                        none,
                        8px,
                    );
                }
            }
        }
    }
}