@use "admin-styles/mixin" as *;
@use "variables" as *;


.product-search--page {
    padding: 2rem;
    height: 100%;
    display: flex;
    gap: 2rem;
    @include flex(row, flex-start, stretch, 2rem);

    >aside {
        min-width: 20rem;
        box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.247);
        padding: 2rem;
        overflow-y: auto; // max-height: calc(100vh - 20vh);
        @include flex(column, flex-start, stretch, 0.5rem);

        >h2 {
            @include heading;
        }

        >div {

            >input{
                @include inputStyle(100%, 1rem, white, 1px solid rgba(154, 154, 154, 0.38));
                border-radius: 10px;
                margin: 0.5rem;
            }
        }
    }

    main {
        width: 100%;
        display: flex;
        flex-direction: column;
        // padding: 0 2rem;
        height: 100%;

        >h1 {
            @include heading;
        }

        >input {
            @include inputStyle(50%);
            border-radius: 5px;
            display: block;
            border: 1px solid black;
            margin: 1rem;
            width: 100%;
            font-size: 1.2rem;
        }

        .search-product--list {
            @include flex(row, flex-start, flex-start);
            flex-wrap: wrap;
            flex: 1;
            overflow-y: auto;
            // height: 45%;
        }


    }

}