@use "admin-styles/mixin";
@use "variables" as *;
@use "search";
@use "_home";
@use "cart";
@use "shipping";
@use "auth-styles/login";
@use "auth-styles/auth";
@use "admin-styles/dashboard";
@use "admin-styles/product";
@use "admin-styles/chart";
@use "admin-styles/dashboardapps";
@use "admin-styles/mediaquery";
@use "theme" as *;
@use "admin-styles/mixin" as *;
@use "skeletons/skeleton";

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    font-family: Poppins, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
    font-weight: 400;
}


body {
    font-family: var(--font-family);
    overflow: hidden;
    // user-select: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

.layout {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.layout-content {
    flex: 1;
    overflow: hidden;
    padding: 2rem;
}

p,
label {
    font-size: 0.9rem;
    color: var(--secondary-foreground)
}

input,
select,
textarea {
    @include mixin.inputStyle(100%,
        1rem,
        var(--input),
        1px solid rgba(13, 13, 13, 0.196));
    border-radius: 5px;
    letter-spacing: 0.5px;
    color: var(--foreground);

    &::placeholder {
        color: var(--muted-foreground);
    }
}

textarea {
    resize: none;
    height: 100px;
}

.image-preview {
    display: flex;
    justify-content: center;

    div {
        width: fit-content;
        position: relative;

        img {
            margin-top: 0.5rem;
            border-radius: 100%;
            @include square(5rem);
            object-fit: contain;
            background-color: white;
        }

        svg {
            position: absolute;
            right: 8px;
            top: 10px;
            font-size: 1.5rem;
            color: rgba(255, 17, 17, 0.911);

            &:hover {
                color: rgb(179, 7, 7);
            }
        }
    }
}

.image-input {
    background-color: var(--secondary);
    color: var(--secondary-foreground);
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
    text-align: center;
    border-radius: 7px;
    border: 1px solid var(--border);
    width: 100%;
    cursor: pointer;

    &:hover {
        opacity: 0.9;
    }
}


// select {
//     @include inputStyle(100%, 1rem, white, 1px solid rgba(154, 154, 154, 0.38));
//     border-radius: 4px;
// margin: 0.5rem;
// }

.card {
    max-width: 30rem;
    width: 80vw;
    background-color: var(--card);
    border: 1px solid var(--border);
    padding: 1.7rem;
    border-radius: var(--radius);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    .card-header {
        margin-bottom: 2rem;
        text-align: center;
        // line-height: 2.2rem;

        >h2 {
            margin-bottom: 0.7rem;
            color: var(--secondary-foreground);
        }

        >p {
            color: var(--muted-foreground);
        }
    }
}


:where(.red, .yellow, .green, .purple) {
    padding: 0.3rem 0.8rem;
    font-size: 0.8rem;
    border-radius: 5px;
    border: 1px solid;
}

.red {
    border-color: #ff0000b3;
    background: #ff000017;
    color: red;
}

.yellow {
    border-color: rgb(255 195 0);
    background: rgb(255 167 0 / 9%);
    color: #ffaf00;
}

.green {
    border-color: rgb(0, 143, 0);
    background: rgba(0, 255, 0, 0.090196);
    color: rgb(3, 196, 3);
}

.purple {
    border: 1px solid rgb(42 0 255);
    background: rgba(10, 5, 255, 0.171);
    // padding: 0.3rem;
    border-radius: 5px;
    color: #1803ff;
}

// Components

.theme-switch {
    background-color: var(--card);
    color: var(--card-foreground);
    padding: 8px 8px;
    width: 5rem;
    height: 2.2rem;
    font-size: 23px;
    position: relative;
    border-radius: 15px;

    >div {
        position: absolute;
        transform: translateY(-50%);
        top: 58%;
        right: 10px;
        transition: all 0.3s;

    }
}


p {
    color: rgb(80, 91, 102);
    font-size: 0.9rem;
}

td {
    color: rgb(34, 38, 43);
    max-width: 200px;
    overflow: hidden;
    padding: 1rem 0.5rem;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.error-msg {
    color: rgba(255, 0, 0, 0.8);
    font-size: 0.8rem
}

button {
    cursor: pointer;
    border: none
}



.heading {
    @include mixin.heading;
    margin: 1rem 0;
    text-align: center;
}


.container {
    max-width: 1367px;
    width: 100%;
    padding: 1rem;
    margin: auto;
    overflow: auto;

    >h1 {
        @include mixin.heading;
        margin: 1rem 0;
        text-align: center;
    }
}


.header {
    margin: 1rem 0;

    >nav {
        padding: 0.5rem 1rem;
        @include mixin.flex(row, flex-end, stretch, 1.2rem);

        a {
            color: $color2;
            letter-spacing: 2px;
            font-size: 1.2rem;

            &:hover {
                color: $color3;
            }
        }

        button {
            border: none;
            font-size: 1.2rem;
            background-color: transparent;

            &:hover {
                color: $color3;
            }

        }

        dialog {
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 10px;
            width: 100px;
            position: absolute;
            left: calc(100% - 100px);
            top: 3%;

            >div {
                @include mixin.flex(column, flex-start, center, 0.25rem);
            }
        }
    }
}





























.submit-btn {
    @include mixin.btn;
    margin: 1rem auto;
    font-size: 1.1rem;
    padding: 0.7rem 4rem;
    border-radius: 8px;
    width: 100%;
    // background-color: rgb(5, 107, 244);
    background-color: var(--primary);
    // color: white;
    color: var(--primary-foreground);

    &:hover {
        opacity: 0.9;
    }
}

.create-product--btn {
    position: fixed;
    right: 2rem;
    top: 2rem;
    @include mixin.square(2.5rem);
    @include mixin.flex(row, center, center, 0);
    border-radius: 50%;
    background-color: rgb(28, 185, 20);
    color: whitesmoke;
    transition: all 300ms;

    &:hover {
        background-color: rgb(23, 148, 17);
    }
}

.sidebar-btn {
    display: none;
    background-color: inherit;

    color: var(--primary);

    transition: all linear 200ms;

    &:hover {
        background-color: var(--primary);
        color: var(--primary-foreground);
    }
}

.dashboard-layout {
    @include mixin.grid(1fr 4fr, 2rem);
    min-height: 100vh;
    background-color: var(--background);
    color: var(--foreground);
    position: relative;
    overflow-y: hidden;

    >div>header {
        @include mixin.flex(row, unset, space-between);
        padding: 0.5rem 1rem;
        // box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
        background-color: var(--card);
        border-radius: 0.5rem;
        margin-bottom: 2rem;
        margin-right: 1rem;

        >input {
            @include mixin.inputStyle(unset, 0.3rem 1rem, unset, 1px solid var(--ring));
            border-radius: 0.4rem;
            background: var(--primary);
        }
    }

    >aside {
        width: 100%;
        // background-color: white;
        background-color: var(--sidebar);
        color: var(--sidebar-foreground);
        min-height: 100vh;
        padding: 1rem;
        z-index: 10;
        overflow-y: auto;
        border: 1px solid var(--border);


        &::-webkit-scrollbar {
            display: none;
        }

        >div {
            margin: 2rem;

            >h5 {
                @include heading(2px);
                opacity: 0.8;
                margin: 1rem 0;
            }

            >ul {
                @include flex(column, unset, unset, 0.5rem);
                list-style: none;

                >li {
                    padding: 0.5rem 1rem;
                    border-radius: 10px;
                    -webkit-border-radius: 10px;
                    -moz-border-radius: 10px;
                    -ms-border-radius: 10px;
                    -o-border-radius: 10px;

                }

                a {
                    // color: rgba(0, 0, 0, 0.825);
                    color: var(--sidebar-foreground);
                    @include mixin.flex(row, 0.5rem)
                }
            }
        }
    }

    >.dashboard-container {
        height: 100vh;
        overflow: auto;
        padding: 0.5rem 0;
    }
}

.table {
    border-collapse: collapse;
    width: 100%;
    color: var(--foreground);
    margin-bottom: 3rem;
    border-radius: var(--radius);
    font-size: 0.8rem;


    * {
        outline: 1px solid var(--background);
        color: var(--foreground);
    }

    thead>tr {
        outline: 1px solid var(--foreground);
    }

    th,
    td {
        padding: 8px;
        text-align: center;
        vertical-align: middle;
    }

    th {
        // color: #0000009e;
        color: var(--primary);
        background-color: var(--secondary);
        font-size: 0.9rem;
        font-weight: 400;
        padding: 10px;
    }

    tbody {
        tr {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.93);

            &:first-child {
                border-left: none;
            }

            &:last-child {
                border-right: none;
            }
        }

        td {
            padding: 1rem 1rem;
            text-align: center;

            img {
                width: 4rem;
                height: 4rem;
                object-fit: contain;
                border-radius: 10px;
            }

            a {
                @include mixin.btn(0.5rem 1rem);
                text-decoration: none;
                // background-color: rgba(44, 104, 255, 0.205);
                color: var(--primary-foreground);
                background-color: var(--primary);
                // color: var(--primary);
                border-radius: 8px;
                transition: all 200ms;

                &:hover {
                    // color: whitesmoke;
                    // background-color: rgba(44, 104, 255, 1);
                    opacity: 0.9;
                }
            }

            button {
                width: 2rem;
                height: 2rem;
                font-size: 1.1rem;
                border: none;
                outline: none;
                background-color: transparent;
                cursor: pointer;
                // color: rgb(255, 44, 44);
                color: var(--char-5);

                &:hover {
                    opacity: 0.6;
                }
            }
        }
    }
}

.table-pagination {
    @include mixin.flex(row, center, center, 1.5rem);
    padding: 2rem;
    margin-inline: auto;
    width: 100%;

    >button {
        @include mixin.flex;
        padding: 0.5rem;
        border: none;
        outline: none;
        border-radius: 5px;
        cursor: pointer;
        background-color: rgba(4, 108, 243, 0.7);
        color: whitesmoke;
        transition: all 300ms;

        &:hover {
            background-color: rgba(4, 108, 243, 0.9);

        }

        &:disabled {
            background-color: rgba(0, 155, 255, 0.2);
            color: black;
            cursor: default;
        }

        >svg {
            @include mixin.square(19px)
        }
    }
}

.management {
    @include mixin.flex(row, unset, unset);
    padding: 4rem;
    overflow-y: auto;

    >section {
        @include mixin.flex(column, unset, unset, 1rem);
        position: relative;
        border-radius: 8px;
        overflow-y: auto;

        overflow: auto;
        width: 100%;
        height: 85vh;
        max-width: 500px;
        // box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.216);
        background-color: var(--card);
        box-shadow: var(--shadow);
        padding: 3rem;
        border: 1px solid var(--border);


        >h2 {
            @include mixin.heading(2px, 400);
            text-align: center;
        }

        >strong {
            font-weight: 300;
            margin-top: 2rem
        }

        >img {
            @include mixin.square(100%);
            object-fit: contain;
        }

        >span {
            position: absolute;
            right: 2rem;
            top: 2rem;
            text-align: center;
        }

        >p {
            text-align: center;
            letter-spacing: 2px;
            text-transform: uppercase;
            font-size: 1.5rem;
            color: var(--muted-foreground);
        }
    }

    >article {
        height: 85vh;
        padding: 2rem;
        width: 100%;
        max-width: 500px;
        // background-color: whitesmoke;
        background-color: var(--card);
        border-radius: 5px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.216);
        border: 1px solid var(--border);
        overflow-y: auto;


        >form {
            // @include mixin.flex(column, unset, center, 2rem);
            margin: auto;

            >h2 {
                text-decoration: uppercase;
                text-align: center;
                letter-spacing: 2px;
                margin: 0 0 3rem 0;
            }

            >div {
                margin: 2.3rem 0;
            }

            >.management-form {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                align-items: center;
                gap: 1rem
            }

            >div:has(img) {
                @include mixin.flex(row, center, center, unset);

                img {
                    @include mixin.square(6rem);
                    // object-fit: contain;
                    border-radius: 10px;
                }
            }

            #file-upload {
                @include mixin.flex(row, center, center, unset);
                cursor: pointer;
                // background-color: rgba(128, 128, 128, 0.034);
                background-color: var(--secondary);
                padding: 0.7rem 1rem;
                border-radius: 8px;
                border: 1px solid rgba(128, 128, 128, 0.342);
                transition: all 300ms;

                &:hover {
                    // background-color: rgba(128, 128, 128, 0.164);
                    // // color: rgba(0, 0, 0, 0.993);
                    // border: 1px solid rgba(0, 0, 0, 0.233);
                    opacity: 0.9;
                }

                >input {
                    display: none;
                }
            }

            >div:not(#file-upload) {

                width: 100%;
                position: relative;
                margin-top: 0.5rem;

                >label {
                    position: absolute;
                    left: 0;
                    top: -1.6rem;
                }


                // >input {
                //     @include mixin.inputStyle(100%,
                //         0.7rem,
                //         var(--input),
                //         1px solid rgba(13, 13, 13, 0.196));
                //     border-radius: 5px;
                //     color: var(--foreground);

                //     &::placeholder {
                //         color: var(--muted-foreground);
                //     }
                // }
            }



        }
    }
}

.pagination {
    @include flex;
    justify-content: center;

    >button {
        justify-content: center;
        @include flex;
        @include btn(0.5rem 0.8rem);
        background-color: var(--primary);
        color: var(--primary-foreground);
        border-radius: 5px;

        &:disabled {
            cursor: not-allowed;
            opacity: 0.8;
        }

        &:hover {
            opacity: 0.9;
        }

    }
}


/* Works in Chrome, Edge, Safari */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: var(--scrollbar-track);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
    border-radius: 10px;
    transition: "background" 0.2s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-hover);
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
}